.newsArticle{
  color: white;
}



.newsArticle ol{
  list-style: none;
  margin: 0;
  padding: 0;
}

.newsArticle ol li{
  margin: 0;
  border-bottom: 1px solid #e4e3e8;
  padding: 4px 0;
  
}
.newsArticle ol li:hover{
cursor: pointer;
opacity: 0.9;
}
.newsArticle ol li:last-child{
  border-bottom: none;
  
}

.newsArticle h2{
  font-size: 16px;
  color: #393a50;
}

.newsArticle p{
  text-transform: none;
  text-overflow: auto;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 3px 0;
    font-size: 14px;
    color: #80808d;
}