.App {
  /* background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body, html, #root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
}

body{
  
  background-image: linear-gradient(to top, #1e1e1e 0%, black 100%);
}

.postsHolder{
  
  display: flex;
}

.largeHolder{
 width: 62%;
 background: rgba(255,255,255, 1);
 border-radius: 10px;
 padding: 10px;
}

.smallHolder{
  width: 38%;
}


h2{
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.wrapper{
  margin: 0 auto;
  max-width: 960px;
  min-width: 600px;
}
/*
$tjOrange: #f15a22;
$tjRed: #9e032a;
$tjTeal: #008198;
$tjGreen: #86ac51;
$tjPurple: #570861;
$tjYellow: #ffcb05;
$tjMagenta: #a741b5;*/

h2.newsTitle{
  font-size: 1.4rem !important;
  color: #fff;
  border-bottom: 3px solid #86ac51;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.postImg{
  overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* display: inline; */
    /* height: 100%; */
    
    background-color: #626262;
    border-radius: 10px;
}

.article{
  width: 45%;
  margin-left:4%;
  margin-right: 0;
  float: left;
  text-align: center;
  border-radius: 10px;
}

.article:hover .postImg h2{
  visibility: visible;

}

.article a:hover{
  text-decoration: none;
}
.padBtm{
  margin-bottom: 10px;
}



.postImg h2{
  text-shadow: 0px 0px 2px rgba(0,0,0,0.66);
  visibility: hidden;
  text-decoration: none;
  padding-top: 36%;
  padding-bottom:36%;
  background: rgba(0,0,0,0.5)

}

@media (min-width: 401px) and (max-width: 960px) {
  .wrapper{
    max-width: 700px;
  }

  .postImg h2{
    font-size: 16px;
    padding-top: 42%;
    padding-bottom: 42%;
  }
  .newsArticle ol{
    margin: 0;
    }

  .newsArticle ol li:last-child {
    display: none;
  }

  .newsArticle ol li:nth-child(4) {
    border-bottom: none;
  }

  .newsArticle ol li{
    padding: 5px 0;
  }
}

@media (min-width: 1900px) {

.greeting{
  padding: 1% 0 5% 0 !important;
}

.tjSmiley {
  background: none;
  width: 7%;
  height: auto;
  padding-top: 6%;
}
}